<div class="site-navigation">
<nav>
<ul>
  <li><a href="/home"><i class="fa fa-home" aria-hidden="true" ></i> Home</a></li>
  <li><a href="/categories"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories</a></li>
  <li><a href="#"><i class="fa fa-archive" aria-hidden="true"></i> Store</a></li>
  <li><a href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
  <li><a href="/contact"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>

</ul>
</nav>
</div>
