<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/stylesheet/styles.css" rel="stylesheet" type="text/css"/>


    <title>About | Urban Fitness</title>
  </head>
  <body>
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>
    <% include partials/site-navigation.ejs %>

    <div class="about-main-content">
      <h3>About Us</h3>
      <br><br>
      <p>Urban fitness is a website built as a part of the course 'Network Based Application Development'.<br><br>
      <strong>Note: This website is still in the build stage.</strong></p>

      <p>Following references are used in the process:</p>
      <ul>
          <li><a href="https://www.w3schools.com/" target="_blank">w3schools.com</a> (For tutorials related to html and css)</li>
          <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a> (To Use external fonts)</li>
          <li><a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">Font Awesome</a> (To use logos for the button)</li>
      </ul>


    </div>


    <% include partials/footer.ejs %>
  </body>
</html>
