<!DOCTYPE html>
<html lang="en">
	<head>
	   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	   <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
	   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

	    <meta charset="UTF-8">
	    <title>Categories | Urban Fitness</title>
	</head>

  <body>

	  <% include partials/header.ejs %>

	   <div class="topnav">
	      <a href="#">Sign In</a>
	      <a href="myitems.html">My Workouts</a>
	      <a href="#">Cart</a>
	   </div>

	   <div class="categories-main-content">
		     <h4>Abs & Core</h4>

         <ul>
			        <li><a href="item.html">Reverse Crunch</a></li>
			        <li><a href="item.html">Flutter Kicks</a></li>
			        <li><a href="item.html">Side Plank</a></li>
		     </ul>

         <h4>Legs</h4>

         <ul>
			        <li><a href="item.html">Leg Press</a></li>
			        <li><a href="item.html">Leg Extension</a></li>
			        <li><a href="item.html">Weighted squats</a></li>
		    </ul>
	   </div>

	<div class="site-navigation">
	<nav>
	<ul>
		<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
		<li><a href="categories.html" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories</a></li>
		<li><a href="#"><i class="fa fa-archive" aria-hidden="true"></i> Store</a></li>
		<li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>

	</ul>
	</nav>
	</div>

	<% include partials/footer.ejs %>

  </body>
</html>
