<!DOCTYPE html>
<html lang="en">
	<head>
	   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	   <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
	   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="/assets/stylesheet/styles.css" rel="stylesheet" type="text/css"/>

	    <meta charset="UTF-8">
	    <title>Categories | Urban Fitness</title>
	</head>

  <body>

	  <% include partials/header.ejs %>
		<% include partials/user-navigation.ejs %>
		<% include partials/site-navigation %>

	   <div class="categories-main-content">
			 <h6><a href="/home">Home</a> > <a href="#">Categories</a></h6>
			 <%
			 for(var i=0;i<data.categories.length;i++){ %>
					 <table>
					 		<thead>
					 			<tr>
					 				<th><%=data.categories[i] %></th>
					 			</tr>
					 		</thead>

							<tbody>

						<% for(var j=0;j<data.items.length;j++){
							if(data.categories[i]==data.items[j].catalogCategory){ %>
								<tr>
									<td><a href="/categories/item?itemCode=<%= data.items[j].itemCode %>"><%= data.items[j].itemName %></a></td>
								</tr>
						<%	}
						} %>
					</tbody>

					 </table>
			<%	 } %>
	   </div>


	<% include partials/footer.ejs %>

  </body>
</html>
