<!DOCTYPE html>

<html>

	<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
	<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<title>Rating | Urban Fitness</title>
	</head>

<body>

	<% include partials/header.ejs %>


	<div class="topnav">

	<a href="#">Sign In</a>
	<a href="myitems">My Workouts</a>
	<a href="#">Cart</a>

	</div>


  <div class="feedback-card">

    <div class="feedback-card-container">
		   <!-- <h3>Give your feedback for</h3> !-->
		    <img src="http://johnsifferman.com/img/leg_press.jpg" alt="Leg press Image">
        <hr style="border: 0.5px solid black;" />
		    <h2>The Leg Press</h2>
		    <h4>Muscle Group : Leg</h4>
		    <p id="feedback-paragraph">The leg press is a great exercise machine for developing the quadriceps of the thigh and your gluteal muscles.</p>
    </div>

	  <div class="rating-class">
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
	  </div>

  </div>

	<div class="site-navigation">
	<nav>
	<ul>
		<li><a href="home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
		<li><a href="categories" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories</a></li>
		<li><a href="#"><i class="fa fa-archive" aria-hidden="true"></i> Store</a></li>
		<li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>

	</ul>
	</nav>
	</div>


	<% include partials/footer.ejs %>

</body>


</html>
