<!DOCTYPE html>

<html lang="en">

	<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/assets/stylesheet/styles.css" rel="stylesheet" type="text/css"/>

	<meta charset="UTF-8">
	<title>Urban Fitness</title>
	</head>

	<body>

	<% include partials/header.ejs %>
	<% include partials/user-navigation.ejs %>
	<% include partials/site-navigation.ejs %>

	<div class="home-main-content">
		<p id="index-paragraph">
		    In today’s busy life many people neglect their fitness.<br><br>
		    Some people think that its too hard for them to manage their diet, some of them don't have time for workout.<br><br>
		    If you are one of them, try Urban Fitness. <br><br>
		    We, at Urban Fitness make it easier for a busy person doing a 9 to 5 job or managing a venture to live a healthy lifestyle.<br><br>
		    The idea here is to incorporate fitness as a lifestyle and not as a concept.
    </p>
	</div>


	 <% include partials/footer.ejs %>

	</body>

</html>
