<!DOCTYPE html>

<html>

	<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
	<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<title>Workout | Urban Fitness</title>
	</head>

<body>

	<% include partials/header.ejs %>


	<div class="topnav">

	<a href="#">Sign In</a>
	<a href="myitems.html">My Workouts</a>
	<a href="#">Cart</a>

	</div>

	<div class="main-content">
		<h6>Home > Categories > Item</h6>
		<img src="http://johnsifferman.com/img/leg_press.jpg" alt="Leg press Image">
		<h2>The Leg Press</h2>
		<h4>Muscle Group : Leg</h4>
		<a href="myitems.html" class="button Save-button"><i class="fa fa-bookmark" aria-hidden="true"></i> Save</a>
		<a href="#" class="button Rate-button"><i class="fa fa-star" aria-hidden="true"></i> Rate</a>

		<p>1. Using a leg press machine, sit down on the machine and place your legs on the platform directly in front of you at a medium foot stance. <br><br>
		2. Lower the safety bars holding the weighted platform in place and press the platform all the way up until your legs are fully extended in front of you. <br><br>
		3. As you inhale, slowly lower the platform until your upper and lower legs make a 90-degree angle.
		Pushing mainly with the heels of your feet and using the quadriceps go back to the starting position as you exhale.<br><br>
		4. Repeat for the recommended amount of repetitions and ensure to lock the safety pins properly once you are done. You do not want that platform falling on you fully loaded.<br><br>
		<strong>Caution:</strong> Always check to make sure that when you re-rack the weight the platform is securely locked.
		Variations: All foot stance variations described in the foot stance section.</p>



	</div>

	<div class="rating-class">
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
	</div>



	<div class="site-navigation">
	<nav>
	<ul>
		<li><a href="Index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
		<li><a href="categories.html" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories</a></li>
		<li><a href="#"><i class="fa fa-archive" aria-hidden="true"></i> Store</a></li>
		<li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>

	</ul>
	</nav>
	</div>


	<% include partials/footer.ejs %>

</body>


</html>
