<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/stylesheet/styles.css" rel="stylesheet" type="text/css"/>

    <title>Login | Urban Fitness</title>
  </head>
  <body>
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>
    <% include partials/site-navigation.ejs %>

    



    <div class="login-card">
        
      <img src="../assets/images/login-card-background.jpg" alt="login-background not found" style="width:100%">
      <div class="card-container">
        
        <form id="login-form" method="POST" action="/profile/signIn">
        <table class="login-form">
            <tr>
                <% if(errors){ %>
                <ul class="login-errors-list">
                   
                    <% for(error in errors){ %>
                      <%if(error==="UserName"){%>
                        <li>Invalid Username</li>
                      <%}%>
                      <%if(error==="Password"){%>
                        <li>Invalid Password</li>
                      <%}%>
                      <%if(error==="msg"){%>
                        <li>Either username or password is incorrect. Please try again.</li>
                      <%}%>
                    <% } %>
                  
                </ul>
                <% } %>
          </tr>
          <tr>
              <td><input type="text" id="UserName" name="UserName" placeholder="Username"></td>
          </tr>
          <tr>
              <td><input type="password" id="Password" name="Password" placeholder="Password"></td>
          </tr>
          
          <tr>
            <td><button class="Login-button" type="submit">Login</button></td>
          </tr>

        </table>
      </form>
      </div>
    </div>

    <div class="text-over-image-login">
            <h2>Sign In</h2>
    </div>
    <% include partials/footer.ejs %>
  </body>
</html>
