<!DOCTYPE html>


<html lang="en">

	<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

	<meta charset="UTF-8">
	<title>My Workouts | Urban Fitness</title>
	</head>

<body>

	<% include partials/header.ejs %>

	<div class="topnav">
	<a href="#">Sign In</a>
	<a href="myitems.html" class="active">My Workouts</a>
	<a href="#">Cart</a>

	</div>

	<div class="main-content">
		<h3>Your favourite workouts</h3><br>
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Workout</th>
				<th>Muscle Group</th>
				<th>My Rating</th>
				<th></th>
				<th></th>

			</tr>
			</thead>

			<tbody>
			<tr>
				<td><i class="fa fa-user fa-lg" aria-hidden="true"></i><a href="item.html"> Leg Press</a></td>
				<td>Leg</td>
				<td>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
				</td>
				<td><a href="item.html" class="button Update-button">Update</a></td>
				<td><a href="myitems.html" class="button Delete-button">Delete</a></td>
			</tr>
			<tr>
				<td><a href="item.html">Flutter Kicks</a></td>
				<td>Abs & Core</td>
				<td>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</td>
				<td><a href="item.html" class="button Update-button">Update</a></td>
				<td><a href="myitems.html" class="button Delete-button">Delete</a></td>
			</tr>
			<tr>
			<td><a href="item.html">Reverse Crunch</a></td>
			<td>Abs & Core</td>
			<td>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
			</td>
			<td><a href="item.html" class="button Update-button">Update</a></td>
			<td><a href="myitems.html" class="button Delete-button">Delete</a></td>
			</tr>
			</tbody>
		</table>


		<p id="information"><i class="fa fa-user fa-lg" aria-hidden="true"></i>  Indicates that this workout is shared by you.
		<br>Click <a href="#" >here</a> to share a new workout</p>

	</div>

	<div class="site-navigation">
	<nav>
	<ul>
		<li><a href="Index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
		<li><a href="categories.html"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories</a></li>
		<li><a href="#"><i class="fa fa-archive" aria-hidden="true"></i> Store</a></li>
		<li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>

	</ul>
	</nav>
	</div>



	<% include partials/footer.ejs %>

</body>



</html>
