body{
	margin:0.8px;
}

.title-info{
	color:White;
	background-color:Black;
	font-family: 'Raleway', sans-serif;
	padding:12px 0px 0px 25px;
	margin:0;
	overflow:hidden;
}

.title-info h6{
	display:inline;
	float:right;
	padding-right:40px;
	margin-top:15px;
}

.title-info h1{
	display:inline;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  margin-top:1.5px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color:white;
  font-family: 'Raleway', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.site-navigation ul{
	list-style-type: none;
	margin-top:1.5px;
	margin-left:1.5px;;
	padding:0;
	width:140px;
	background-color: #f1f1f1;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	position: fixed;
	height: 100%;
	overflow: hidden;
	margin-bottom:1.5px;
}

.site-navigation li a{
	display:block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	text-align:left;
}

.site-navigation li a:hover {
  background-color: #4CAF50;
  color: white;
}

.site-navigation .active {
  background-color: #4CAF50;
  color: white;
}

.site-navigation li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.footer {
  position: fixed;
  left: 1.5px;
  bottom: 1.5px;
  right:1.5px;
  width: 100%;
  background-color:black;
  color: White;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  text-align: left;
  padding:0px 0px 0px 10px;
}


.home-main-content{
  position: fixed;
  left: 190px;
  right:1.5px;
  color: Black;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  padding:0px 0px 0px 10px;
}



.main-content{
  position: fixed;
  left: 140px;
  right:1.5px;
  color: Black;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  padding:0px 0px 0px 10px;
}

.main-content p{
	margin-left:310px;
	width:750px;
	height:100px;
	text-align:justify;
}

.main-content img{
	width:280px;
	height:210px;
	padding:0px;
	margin-top: 7px;
	margin-left:7px;
	float:left;
}

.main-content h6{
	margin-top:10px;
}

.main-content h2{
	margin-bottom:0px;
	margin-left: 310px;
}

.main-content h4{
	margin-top:4px;
	margin-left: 310px;
}

.main-content h3{
	margin-left: 40px;
}

.checked{
  color: orange;
}

.rating-class{
	float:left;
	margin-left:650px;
	margin-top:50px;
}

.button{
	font-size:13.5px;
	font-family:'Montserrat', sans-serif;
  text-decoration: none;
  background-color: #EEEEEE;
  border-radius:6px;
  color: white;
  padding: 5px 9px 5px 9px;
	background-color:#4CAF50;
	border: 0px;
}

.Save-button {
	 margin-left:18px;
	 float: left;
}

.Rate-button {
	margin-left:7px;
	
}

.Update-button{
	margin-left:10px;
}

.Confirm-Rate-button {
	 margin-top:30px;
	 margin-left:35px;
	 
}

.Designed-It-button {
	 position:absolute;
	 margin-top: 80px;
   margin-left:175px;
}


.Back-button {
	 float:right;
	 margin-top:2px;
   margin-right:155px;
}

.categories-main-content{
	float: left;
	margin-left: 170px;
  color: Black;
  font-family: 'Montserrat', sans-serif;

}

.categories-main-content table{
	margin-top: 10px;
}

.categories-main-content h6{
	margin-top:10px;
	margin-bottom: 0px;
	font-size: 10px;
}

.categories-main-content th{
	float: left;
	margin-top: 10px;
	font-size: 17px;
}

.categories-main-content tbody{
	float: left;
	margin-top: 5px;
	font-size:15px;
}


.feedback-rating{
	float: left;
	position: absolute;
	top: 61%;
	margin-left: 33%;
	display: flex;
	flex-direction: row-reverse;
}

.feedback-rating input{
	display: none;
}

.feedback-rating label{
	cursor: pointer;
	width: 27px;

}

.feedback-rating label:before{
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 22px;
	color:#888888;
}

.feedback-rating label:after{
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 21.5px;
	color:#ffd11a;
	top: 0;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.feedback-rating label:hover:after,
.feedback-rating label:hover ~ label:after,
.feedback-rating input:checked ~ label:after{
	opacity: 1;
}


.contact-us-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	border-radius: 5px;
	width: 530px;
	height: 485px;
	float: left;
	margin-left: 450px;
	margin-top: 8px;
}

.login-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	border-radius: 5px;
	width: 530px;
	height: 450px;
	float: left;
	margin-left: 450px;
	margin-top: 28px;	
}

.contact-us-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.login-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
	font-family:'Montserrat', sans-serif;

}

.card-container form{
	font-family:'Montserrat', sans-serif;
}

.card-container td[colspan="2"]{
		text-align: center;
}

.contact-us-card img {
  border-radius: 5px 5px 0 0;
	height: 160px;
}

.login-card img {
  border-radius: 5px 5px 0 0;
	height: 140px;
}


.text-over-image-login{
	font-family:'Montserrat', sans-serif;
	color: white;
}

.text-over-image-login h2{
	position: absolute;
	left: 48%;
	top: 22%;
	font-size:31px;

}


.text-over-image{
	font-family:'Montserrat', sans-serif;
	color: white;
}

.text-over-image h2{
	position: absolute;
	left: 45%;
	top: 21%;
	font-size:31px;

}

.text-over-image h4{
	position: absolute;
	left: 41%;
	top: 28%;
	font-size:18px;
	margin-top: 23px;
	font-weight: lighter;
}

.login-card table{
	width: 500px;
	margin-top: 40px;
	font-family: 'Poppins','sans-serif';
}


.contact-us-card table{
	width: 500px;
}

.login-card td{
	padding-top: 7px;
	padding-bottom: 7px;
}

.contact-us-card td{
	padding-top: 7px;
	padding-bottom: 7px;
}

.login-form input[type=text]{
  width: 70%;
  padding: 8px;
  border: 0;
	border-bottom: 1px solid #ccc;
  resize: vertical;
	float: right;
	margin-top: 0px;
	margin-right: 45px;
	font-family:'Poppins', sans-serif;
	background: #f2f2f2;
	border-radius: 13px;
	padding-left: 20px;
}

.login-form input[type=password]{
  width: 70%;
  padding: 8px;
  border: 0;
	border-bottom: 1px solid #ccc;
  resize: vertical;
	float: right;
	margin-top: 0px;
	margin-right: 45px;
	font-family:'Poppins', sans-serif;
	background: #f2f2f2;
	border-radius: 13px;
	padding-left: 20px;
}


.contact-us-form input[type=text],[type=email], [type=tel],[type=password], select, textarea {
  width: 95%;
  padding: 8px;
  border: 0;
	border-bottom: 1px solid #ccc;
  resize: vertical;
	float: right;
	margin-top: 0px;
	margin-right: 20px;
	font-family:'Montserrat', sans-serif;
}

.login-form label{
	float: left;
	margin-left: 30px;
	font-size: 15px;
}


.contact-us-form label{
	float: left;
	margin-left: 30px;
	font-size: 15px;
}

.Login-button{
	
	font-family: 'Poppins','sans-serif';
	font-size:14px;
  text-decoration: none;
	background-color: #EEEEEE;
	border: 0px;
  border-radius:10px;
  color: white;
  padding: 6px 60px 6px 60px;
  background-color:#4CAF50;
}

.Submit-button{
	font-family: 'Poppins','sans-serif';
	font-size:14px;
  text-decoration: none;
  background-color: #EEEEEE;
  border-radius:6px;
  color: white;
  padding: 5px 25px 5px 25px;
  background-color:#4CAF50;
}

.about-main-content{
  position: fixed;
  left: 190px;
  right:1.5px;
  color: Black;
  font-family: 'Montserrat', sans-serif;
  padding:0px 0px 0px 10px;
}

.about-main-content h3{
  font-size:20px;
	font-weight: bold;
	position: fixed;
	left: 45%;
}

.about-main-content p{
  width: 80%;
	text-align: justify;
	margin-left: 90px;
	margin-top: 30px;
}

.about-main-content ul{
  width: 80%;
	text-align: justify;
	margin-left: 70px;
}

.about-main-content li{
	margin-bottom: 6px;
}

.feedback-updateIt{
	
	margin-left: 18px;
	float: left;
	
	
}

#index-paragraph{
	margin-top:40px;
	font-size:16px;

}

#feedback-paragraph{
	margin-left:5px;
	width:250px;
	height:100px;
	text-align:justify;
}

#information{
	margin-left:10px;
	margin-top:200px;
}

#rating-label{
	font-family: 'Montserrat', sans-serif;
	margin-left: 460px;
	margin-top: 287px;
	float: left;
}


#submit-button-row{
	padding-top: 30px;
}
